@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins variables, etc */

$gray-medium-light: #eaeaea;
$light-gray: #777;


/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    /* Nesting css*/
    h1{
        margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    color: $light-gray;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* tables */
 
td {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

th {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

th:first-child {
  padding-left: 0;
}

th:last-child {
  padding-right: 0;
}